/* General styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Header styles */
header {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_image {
    max-width: 250px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.toggle-container {
    display: none;
    cursor: pointer;
}

.hamburger-icon {
    width: 30px;
    height: 3px;
    background-color: #333;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon::before,
.hamburger-icon::after {
    content: '';
    width: 30px;
    height: 3px;
    background-color: #333;
    position: absolute;
    left: 0;
    transition: all 0.3s ease-in-out;
}

.hamburger-icon::before {
    top: -8px;
}

.hamburger-icon::after {
    top: 8px;
}

/* Navigation styles */
.navigation {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    position: relative;
}

.main_nav {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main_nav li {
    position: relative;
}

.main_nav a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
    font-weight: bold; /* Chữ đậm */
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Hiệu ứng chuyển màu */
    margin: 5px;

}

.main_nav a:hover,
.main_nav a.active {
    color: #fff; /* Màu chữ khi hover */
    background-color: #26caf8; /* Màu nền khi hover */
    border-radius: 10px;
}

/* Submenu styles */
.sub_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 10; /* Đảm bảo submenu nằm trên các phần tử khác */
    opacity: 0; /* Bắt đầu với độ mờ 0 */
    transition: opacity 0.3s ease-in-out; /* Hiệu ứng mượt mà */

}

.sub_menu.show {
    display: block; /* Hiện submenu khi có lớp show */
    opacity: 1; /* Đặt độ mờ thành 1 khi hiển thị */
}

.sub_menu li a {
    padding: 10px;
    color: #333; /* Màu chữ cho submenu */
    font-weight: bold; /* Chữ đậm cho submenu */
    transition: background-color 0.3s ease-in-out;
    width: 280px;
    border-radius: 10px;
    margin: 5px;

}

.sub_menu li a:hover {
    box-shadow: 0 0 0 0 rgba(143, 64, 248, 0.5), 0 0 0 0 rgba(39, 200, 255, 0.5);
}

/* Mobile styles */
@media (max-width: 768px) {
    .toggle-container {
        display: block; /* Hiện toggle-menu trên mobile */
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        width: 100%;
        display: none;
        flex-direction: column;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .navigation.show {
        display: flex; /* Hiện menu khi toggle được nhấn */
    }

    .main_nav {
        flex-direction: column;
    }

    .main_nav a {
        padding: 10px 20px;
    }

    .sub_menu {
        position: static;
        box-shadow: none;
    }

    .sub_menu li a {
        padding: 10px 20px;
    }
}
